*:focus {
	outline:none !important;
}
.medium-insert-buttons{
	visibility: hidden;
}

#container {
	width: 90% !important;
}

.medium-editor-placeholder {
	font-size: 20px !important;
}

hr {
	border-top: 1px solid #d2d2d2 !important;
}